<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>TimeTracking PI</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<style>.btn { text-align: left;}</style>
</head>
<body ng-app="timetrackingpi">
<div class="container-fluid" ng-controller="ttpCtrl" >
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#default" ng-click="viewlogin=false; viewForm=false;">TimeTrackingPI</a>
	    </div>
	    <ul class="nav navbar-nav" ng-app="timetrackingpi">
	      <li class="active"><a href="#default" ng-click="viewlogin=false; viewForm=false;" >Home</a></li>
	      <li><a href="#employee" ng-click="viewlogin=false; viewForm=true;">Mitarbeiter</a></li>
	    </ul>    
	    <ul class="nav navbar-nav navbar-right">
	      <li ng-show="!isAuthenticated"><a href="#login"><span class="glyphicon glyphicon-log-in" ng-click="viewlogin=true; viewForm=false;"></span> Login</a></li>
	      <li ng-show="isAuthenticated"><a href="#login"><span class="glyphicon glyphicon-log-in" ng-click="logout();viewlogin=true; viewForm=false;"></span> Logout</a></li>

	    </ul>
	  </div>
	</nav>



	<div ng-show="!isAuthenticated">
	    <form ng-show="!isAuthenticated" ng-submit="submit()">
>>>>>>> d1a505b58120b339eeb65d3e0fc849e4c91e4386
	      <input ng-model="user.username" type="text" name="user" placeholder="Username" />
	      <input ng-model="user.password" type="password" name="pass" placeholder="Password" />
	      <input type="submit" value="Login" />
	    </form>
	    <div ng-show="!isAuthenticated">{{error}}</div>


	<section  ng-show="viewTimes">
		<div >
			<div class="row">
				<div class="col-md-12 alert alert-success" ng-show="sN.status.status == 200">
					RFID reader ist betriebsbereit.
				</div>
				<div class="col-md-12 alert alert-info" ng-show="sN.status.status == 404">
					RFID reader ist nicht online.
				</div>
				<div class="col-md-12 alert alert-danger" ng-show="sN.status.status == 500">
					RFID reader hat den Fehler: {{sN.status.message}}
				</div>
				<div class="col-md-12 alert alert-warning" ng-show="sN.sn">Gebucht: {{sN.sn}}</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" ng-repeat="row in orderedTimes| orderBy: 'lastLog'">
					<div class="btn btn-default col-lg-12 col-md-12 col-sm-12 col-xs-12" data-toggle="collapse" data-target="#{{row.sn}}">
						<span class="glyphicon glyphicon-time"></span>
						<span ng-show="employee[row.sn].firstname"> 
						{{employee[row.sn].firstname +' '+ employee[row.sn].lastname}}
						</span>
						<span ng-show="!employee[row.sn].firstname"> 
						{{row.sn}}
						</span>
						<span class="small"> 
						 [{{row.lastLog|date:'dd.MM.yyyy HH:mm:ss'}}]
						</span>
					</div>
					<div class="collapse" id="{{row.sn}}">
						<div class="btn btn-default ol-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="day in row.ordered | orderBy : '-orderedDate' " data-toggle="collapse" data-target="#{{day.orderedDate | date : 'dd-MM-yyyy'+row.sn}}">  {{day.orderedDate  | date : 'longDate'}} [{{day.values.total.hour}} Std.|{{day.values.total.minute}} Min.|{{day.values.total.second}} Sec.]
							<div  class="collapse" id="{{day.orderedDate | date : 'dd-MM-yyyy'+row.sn}}">
								<table class="table table-responsive">
									<tr>
										<th>Start</th>
										<th>Ende</th>
										<th>Tage</th>
										<th>Stunden</th>
										<th>Minuten</th>
										<th>Sekunden</th>
									</tr>
									<tr ng-repeat="date in day.values.data | orderBy : '-timeEnd'">
										<td>{{date.timeStart|date:'HH:mm:ss'}}</td>
										<td>{{date.timeEnd|date:'HH:mm:ss'}}</td>
										<td>{{date.worked.day}}</td>
										<td>{{date.worked.hour}}</td>
										<td>{{date.worked.minute}}</td>
										<td>{{date.worked.second}}</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
	<section ng-show="viewForm">
		<h1>Mitarbeiter</h1>
		<table class="table table-responsive">
		<tr ng-repeat="empl in employee">
			<td>{{empl.firstname}}</td><td>{{empl.lastname}}</td>
		</tr>
		</table>
		<div ng-controller="EmployeeCtrl" class="row">
		<form novalidate class="simple-form" class="form">
		    <div class="form-group">
		    <label>Firstname: <input type="text" ng-model="user.firstname"/></label>
		    </div>
		    <div class="form-group">

		    <label>Lastname: <input type="text" ng-model="user.lastname" /></label>
		    </div>
		    <div class="form-group"><label>Gender:</label><label><input type="radio" ng-model="user.gender" value="male" />male</label>
		    <label><input type="radio" ng-model="user.gender" value="female" />female</label>
		    </div>
		    <div class="form-group">
		    <select name="singleSelect" id="singleSelect" ng-model="user.sn">
		      <option value="">---Please select---</option> <!-- not selected / blank option -->
		      <option ng-repeat="row in dbrows" value="{{row.sn}}">{{row.sn}}</option> <!-- interpolation -->
		    </select><br>
		    </div>
		    <div class="form-group">
		    <input type="button" ng-click="reset()" value="Reset"  />
		    <input type="submit" ng-click="update(user)" value="Save"  />
		  </div></form>
		</div>
	</section>
	<footer>
		
	</footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
  integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="dateformat.js"></script>
<script src="app.js"></script>
</body>
</html>